DISCORD_TOKEN=

PANEL_CHANNEL_ID=
BACKLOG_CHANNEL_ID=
SETTINGS_CHANNEL_ID=
ALERTS_CHANNEL_ID=

SERVER_ID=1
CMD_PREFIX=!wgsm
WGSM_BOT_ID=
WAIT_MS=120000

# fr or en
DEFAULT_LANGUAGE=fr

# backup

BACKUPS_CHANNEL_ID=
BACKUPS_LOG_CHANNEL_ID=
PROSPECTS_DIR=C:\GameHosting\servers\1\serverfiles\Icarus\Saved\PlayerData\DedicatedServer\Prospects
